
{% block extends %}
    {{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<div class="row">
    <div class="col-md-12">
    <h1>{{ entity }} list</h1>

    {% if 'new' in actions %}
        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-primary">
            <i class="fa fa-plus"></i> New entry
        </a>
    {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">Filter</div>
            <div class="panel-body">
                <form class="form-inline" method="POST">
                    <div class="row">
                        <div class="col-md-9">
                            {%- for field, metadata in fields %}
                                {% if metadata.type in ['boolean'] %}
                                    <div class="form-group">
                                        <label for="input{{ field }}" class="control-label">{{ field|capitalize }}: </label>
                                        <select class="form-control" id="input{{ field }}" name="{{ field }}">
                                            <option value="" {{ '{{ filter.getParameterValue("'~field~'") == "" ? "selected" : ""}}' }}>{{ '{{ "All"|trans }}' }}</option>
                                            <option value="true" {{ '{{ filter.getParameterValue("'~field~'") == "true" ? "selected" : ""}}' }}>{{ '{{ "Yes"|trans }}' }}</option>
                                            <option value="false" {{ '{{ filter.getParameterValue("'~field~'") == "false" ? "selected" : ""}}' }}>{{ '{{ "No"|trans }}' }}</option>
                                        </select>
                                    </div>
                                {% elseif metadata.type in ['date', 'datetime'] %}
                                    <div class="form-group">
                                        <input type="text" class="form-control date-picker" id="input{{ field }}" placeholder="{{ field|capitalize }}" name="{{ field }}" value="{{ '{{ filter.getParameterValue("'~field~'") }}' }}">
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="input{{ field }}" placeholder="{{ field|capitalize }}" name="{{ field }}" value="{{ '{{ filter.getParameterValue("'~field~'") }}' }}">
                                    </div>
                                {% endif %}
                            {%- endfor %}
                        </div>
                        <div class="col-md-3">
                            <div class="form-group btn-toolbar" style="float: right;" role="toolbar">
                                <button type="submit" class="btn btn-danger btn-group" role="group" name="clear" value="clear"><i class="fa fa-trash-o"></i> {{ '{{ "Clear"|trans }}' }}
                                </button>
                                <button type="submit" class="btn btn-primary btn-group" role="group"><i class="fa fa-check"></i> {{ '{{ "Apply"|trans }}' }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            {%- for field, metadata in fields %}

                <th>{{ field|capitalize }}</th>

            {%- endfor %}

            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
        <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}

                    <td>
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity."~ identifier ~" }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a>
                    </td>

                {%- elseif metadata.type in ['date', 'datetime'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y H:i:s\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' ? "Yes"|trans : "No"|trans }}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}

                    <td>
                        {%- include "crud/views/others/actions.html.twig.twig" %}
                    </td>

                {%- endif %}
            {%- endfor %}

        </tr>
        {{ '{% else %}' }}
            <tr>
                <td colspan="{{ fields|length + 1 }}">{{ '{{ "No entries."|trans }}' }}</td>
            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>
    <div class="navigation">
    {{ '{{ knp_pagination_render(entities) }}' }}
    </div>


    </div>
</div>
{{ "{% endblock %}" }}
{% endblock body %}
